<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<h1>hi</h1>
 <script>
        const socket = new WebSocket('ws://' + window.location.host + '/admin/');

        socket.onmessage = function (e) {
            const data = e.data;
            console.log(data)
        }


        socket.onclose = function (e) {
            console.log(e)
        }
    </script>
</body>
</html>